<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd">
                        
	<bean id="userDao" class="com.lizj.dao.UserDao" />
	
	<bean id="userService" class="com.lizj.service.UserService">
		<property name="userDao" ref="userDao" />
	</bean>
	
	<bean id="bookDao" class="com.lizj.dao.BookDao" />
	
	<bean id="bookService" class="com.lizj.service.BookService">
		<property name="bookDao" ref="bookDao" />
	</bean>

</beans>